.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.inputBox {
  width: 350px;
  padding: 15px;
  margin: 15px;
  border-radius: 25px;
  border: 1px solid blueviolet;
}
button {
  font-weight: 700;
  background: white;
  color: blueviolet;
}
button:hover {
  background: blueviolet;
  color: white;
  cursor: pointer;
}
