thead tr {
  width: 100%;
  background: aquamarine;
  height: 20px;
}
/* tbody {
  width: 100%;
} */
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 70px;
}
table {
  width: 60%;
}

tr th {
  border: 1px solid black;
}
tr td {
  border: 1px solid black;
}
button {
  padding: 5px 12px;
}
